.card {
  border: 1px solid #000;
  border-radius: 10px;
  color: #2c2c2c;
  line-height: 22px;
  margin-bottom: 20px;
  padding: 15px;
}

.card:hover {
  background: #f2f2f2;
  color: #f2f2f2;
}

.card a {
  display: flex;
  color: #2c2c2c;
  text-decoration: none;
}

.card a > div:first-child {
  flex: 1 1 auto;
}

.card a > div:last-child {
  flex: 3 3 auto;
}
